.bio {
  padding: 4rem 0;

  &__content {
    margin: 3rem 0;
  }

  &__header {
    text-align: center;
  }

  &__container {
    width: 95%;
    margin: auto;
  }

  &__img {
    display: block;
    margin: auto;
    border-radius: 3px;
  }
}
