// Header
.header {
  padding: 0;
  position: relative;

  &__lead {
    text-align: center;
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
  }

  &__block {
    height: 60vh;
  }

  &__background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}

.main {
  &__block {
    padding: 3rem 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__events {
    background-color: $secondary;
  }

  &__blog {
    background-color: $primary;
  }
}
