.disco {
  padding: 2rem 0;
  background-color: $primary;

  &:nth-child(2n) {
    background-color: $secondary;
  }

  &__img {
    width: 70%;
    display: block;
    margin: auto;
  }

  &__content {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  &__links {
    display: block;
    list-style: none;
  }
}
